<h3 >Products</h3>

<p>We sell only genune products.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<div id="products" class="tab-pane" *ngIf="products">
  <div class="row">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="itemList">
        <ul id="itemList" >
          <li *ngFor="let product of products;" >
            <div class="imgContainer" data-toggle="modal" data-target="#model">
                <div class="imgContainerItem" >
                      <img alt="{{product.productName}}" [src]="getImage(product)">
                      <div class="itemLable">{{product.displayName}} </div>
                </div>
              <div class="content">
                <span> Price: <del>${{product.mrpPrice}} </del></span>
                <span>${{product.actualPrice}} </span>
                <div> You save <span > ${{product.mrpPrice-product.actualPrice}} </span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <br />
  <br />            
</div>

